#!/usr/bin/env bash

# -e: exit on error
# -u: exit on unset variables
set -eu

{{ if eq .chezmoi.os "linux" -}}
PKGS="build-essential procps curl file git"
if ! dpkg -s $PKGS &>/dev/null; then
  sudo apt update -q
  sudo apt install -yq $PKGS
fi
{{ end -}}

{{- if eq .chezmoi.os "darwin" "linux" -}}
if ! command -v brew 2>&1 >/dev/null; then
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

if ! command -v brew 2>&1 >/dev/null; then
  export PATH="$PATH:$HOME/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/bin:/opt/homebrew/bin"
  eval $(brew shellenv)
fi

if command -v nvim 2>&1 >/dev/null; then
  NVIM_PRE_INSTALLED=1
fi

# FIXME: substitute casks on linux
# TODO: attribute packages, ie. ruby-build deps  
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "antidote"
brew "bat" # better cat
brew "eza" # better ls
brew "fzf" # fuzzy finder
brew "git"
brew "mas" # mac app store
brew "mise" # mise-en-place
brew "sevenzip"
brew "thefuck"
brew "tmux"
brew "wget"
brew "zsh"
cask "alfred" # better spotlight
cask "amethyst" # tiling wm
cask "font-fira-code-nerd-font"
cask "iterm2" # better terminal
cask "jordanbaird-ice" # menu bar
cask "notion"
mas "Fantastical", id: 975937182
tap "homebrew/bundle"
EOF

if [ ! -d "$HOME/.oh-my-zsh" ]; then
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi

mise trust
mise install

if [ -z "$NVIM_PRE_INSTALLED" ]; then
  nvim --headless "+Lazy! sync" +qa
fi
{{ end -}}

{{- if .codespaces }}
cat <<EOF > "$HOME/.gitconfig.overrides"
[commit]
  gpgsign = true
[gpg]
	program = /.codespaces/bin/gh-gpgsign
EOF
{{ end -}}
